<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body style="background-image: url('static/img/test.jpg'); background-size: cover;">
         <!-- Header -->
        {% include 'header.html' %}
        <div class="content">
        <div>
            <!-- Contenedor para el mensaje flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div id="flash-messages" class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
    
            <!-- Formulario -->
            <form id="contact-form" action="/contact" method="POST" class="formulario">
                <h2 class="contactenos" style="font-family: 'Wanderlust';font-size: 60px;">Contáctenos</h2>
    
                <input type="text" id="name" name="name" class="input-contacto" placeholder="Nombre" required>
                <input type="email" id="email" name="email" class="input-contacto" placeholder="Email" required>
                <textarea id="message" name="message" class="input-contacto" placeholder="Escriba su mensaje..." required></textarea>
                <button type="submit" class="boton-enviar">Enviar</button>
            </form>
        </div>
    
        <script>
            // Ocultar el formulario y mostrar el mensaje flash en grande
            const flashMessages = document.getElementById('flash-messages');
            const contactForm = document.getElementById('contact-form');
    
            if (flashMessages) {
                contactForm.style.display = 'none'; // Ocultar formulario
                flashMessages.style.display = 'flex'; // Asegurar que el mensaje se vea
    
                setTimeout(() => {
                    flashMessages.style.display = 'none'; // Ocultar mensaje flash
                    contactForm.style.display = 'block'; // Mostrar formulario nuevamente
                }, 3000); // 3 segundos
            }
        </script>
    </div>
        <!-- Footer -->
    {% include 'footer.html' %}
    </body>

    
    
</html>
